.auth {
  background-color: #202020;
  color: #fff;
  width: 100%;
}

.auth__container {
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0 70px;
  display: flex;
  flex-direction: column;
}

.auth__logo {
  background-image: url(../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 38px 38px;
  min-width: 38px;
  min-height: 38px;
  margin-bottom: 40px;
  align-self: flex-start;
  transition: opacity .3s linear 0s;
}

.auth__heading {
  margin: 0 0 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  min-height: 29px;
  word-wrap: break-word;
}

.auth__form {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  min-height: 380px;
  justify-content: space-between;
}

.auth__inputs-container {
  display: flex;
  flex-direction: column;
}

.auth__button {
  width: 100%;
  margin: 0 auto;
  min-height: 45px;
  background-color: #4285F4;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  cursor: pointer;
  transition: opacity .3s linear 0s;
}

.auth__button:hover {
  opacity: .8;
}

.auth__label {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 10px 0;
}

.auth__input {
  min-height: 46px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 20px 0;
  padding: 0 0 0 15px;
  border: none;
  background-color: #2F2F2F;
  border-radius: 8px;
  color: #fff;
}

.auth__input:last-child {
  margin: 0;
}

.auth__input:focus {
  outline: 0;
  box-shadow: 0px 0px 3px 1px rgba(144, 144, 144, 0.7)
}

.auth__is-logged-text {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
}

.auth__link {
  color: #4285F4;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  margin: 0 0 0 6px;
  transition: opacity .3s linear 0s;
}
