@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.body {
  background-color: #202020;
  width: 100%;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #202020;
  font-family:'Inter', 'Helvetica Neue', Arial, sans-serif;
}

:Link:hover {
  opacity: .7;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}